Repository Riey/kime, pull requests merged in 2021-02, with the labels that each got.

#162 Check markdown in ci
  .circleci/check_md.sh
  .circleci/config.yml
  .markdownlint.json
  README.ko.md
  README.md
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
Labels: Build

#163 Fix circleci config
  .circleci/config.yml
Labels: Build

#164 Implement global hangul state
  Cargo.lock
  Cargo.toml
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/daemon/kimed/Cargo.toml
  src/daemon/kimed/src/main.rs
  src/daemon/types/Cargo.toml
  src/daemon/types/src/lib.rs
  src/engine/capi/src/lib.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/src/ffi.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/src/main.rs
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/main.rs
  src/shared/Cargo.toml
  src/shared/src/lib.rs
Labels: Daemon

#166 Set versioning
  .vscode/settings.json
  Cargo.lock
  docs/CHANGELOG.md
  src/daemon/kimed/Cargo.toml
  src/daemon/kimed/src/main.rs
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/src/main.rs
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/main.rs
  src/version/Cargo.toml
  src/version/build.rs
  src/version/src/lib.rs
Labels: Project

#173 Add kime-engine-capi to build-depdencies
  .circleci/config.yml
  Cargo.lock
  src/engine/cffi/Cargo.toml
  src/xtask/src/main.rs
Labels: Build

#172 Update xim
  .vscode/launch.json
  Cargo.lock
  docs/CHANGELOG.md
  src/frontends/xim/Cargo.toml
Labels: XIM

#171 Implement KeyRepeat to the Wayland frontent
  Cargo.lock
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/src/main.rs
Labels: Wayland

#178 Support all locales
  Cargo.lock
  docs/CHANGELOG.md
  src/frontends/xim/src/main.rs
Labels: XIM

#180 Update xim
  Cargo.lock
  docs/CHANGELOG.md
Labels: XIM

#181 xim: set focus event mask
  Cargo.lock
  src/frontends/xim/src/handler.rs
Labels: XIM

#184 Rollback to GHA
  .circleci/config.yml
  .dockerignore
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  ci/build_release.sh
  ci/check_md.sh
Labels: Project

#185 Install kime indicator
  README.ko.md
  README.md
  src/xtask/src/main.rs
Labels: Package

#189 Generate engine header in build script
  .gitignore
  Cargo.lock
  src/daemon/indicator/Cargo.toml
  src/engine/capi/cbindgen.toml
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
  src/engine/cffi/generate_bindings.sh
  src/engine/cffi/kime_engine.h
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/src/keycode.rs
Labels: Build

#190 Support alt modifier
  .gitignore
  docs/CHANGELOG.md
  src/engine/cffi/src/lib.rs
  src/engine/core/src/keycode.rs
  src/frontends/gtk2/src/immodule.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/qt5/src/input_context.hpp
  src/frontends/qt5/src/plugin.hpp
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
  src/xtask/src/main.rs
Labels: Engine

#188 wayland: Handle RepeatInfo event with zero rate
  src/frontends/wayland/src/main.rs
Labels: Wayland, improve

#191 Check XDG_SESSION_TYPE once
  src/frontends/xim/src/handler.rs
Labels: Wayland, improve

#192 Use cbindgen as command
  .github/workflows/ci.yaml
  Cargo.lock
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
Labels: Build, improve

#194 Wayland keymap fd close
  docs/CHANGELOG.md
  src/frontends/wayland/src/main.rs
Labels: Wayland, bug

#204 Change release .tar.xz
  .github/workflows/release.yaml
  ci/build_release.sh
  docs/CHANGELOG.md
Labels: Package

#206 Fix unwanted key repeat bug on wayland
  src/frontends/wayland/src/main.rs
Labels: Wayland, bug

#208 CONFIGURATION.md: Replace Korean word
  docs/CONFIGURATION.md
Labels: Document, improve

#212 Make capi no-panic
  src/engine/capi/Cargo.toml
  src/engine/capi/src/lib.rs
  src/engine/core/src/input_result.rs
Labels: Engine, bug

#213 Update CHANGELOG
  docs/CHANGELOG.md
Labels: Document

#225 Add mention to performance in README
  README.ko.md
  README.md
Labels: Document, improve

#224 Implement engine hotkeys
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/engine/capi/cbindgen-c.toml
  src/engine/cffi/benches/call_key.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/examples/print_default_config.rs
  src/engine/core/src/config.rs
  src/engine/core/src/input_result.rs
  src/engine/core/src/keycode.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
  src/frontends/gtk2/src/immodule.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
Labels: Engine

#230 Ignore bench in stable toolchain
  src/engine/cffi/Cargo.toml
  src/engine/cffi/benches/call_key.rs
Labels: Build

#231 Use shell script for Build
  .cargo/config
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.ko.md
  README.md
  ci/build_release.sh
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/control.in
  scripts/install.sh
  scripts/release-deb.sh
  scripts/tool.sh
  src/frontends/gtk2/CMakeLists.txt
  src/frontends/gtk3/CMakeLists.txt
  src/frontends/gtk4/CMakeLists.txt
  src/frontends/qt5/CMakeLists.txt
  src/frontends/qt6/CMakeLists.txt
  src/xtask/Cargo.toml
  src/xtask/src/main.rs
Labels: Build, improve

#235 Implement sebeolsik-sin1995 layout
  docs/CHANGELOG.md
  src/engine/core/data/sebeolsik-sin1995.yaml
  src/engine/core/src/characters.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/state.rs
  src/engine/core/tests/sebeolsik_sin1995.rs
Labels: Engine, improve

#236 Integrate ClearPreedit with Preedit
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/update_bindings.sh
  src/engine/core/src/input_result.rs
  src/frontends/gtk2/src/immodule.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
Labels: Engine, improve

#237 Install documents
  res/icons/kime-eng-64x64.png
  res/icons/kime-han-64x64.png
  scripts/build.sh
  scripts/install.sh
Labels: Build, improve

#240 Fix gtk reset
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.lock
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: GTK, bug

#241 Refactor GTK
  docs/CHANGELOG.md
  src/CMakeLists.txt
  src/frontends/gtk2/src/immodule.c
Labels: GTK, bug

#242 Ubuntu package
  .github/workflows/release.yaml
  Dockerfile
  build-docker/arch/Dockerfile
  build-docker/ubuntu-20.04/Dockerfile
  ci/build_deb.sh
  ci/build_xz.sh
  docs/CHANGELOG.md
  scripts/im_kime.conf
  scripts/im_kime.rc
  scripts/install.sh
  scripts/release-deb.sh
  src/CMakeLists.txt
  src/frontends/gtk2/CMakeLists.txt
  src/frontends/gtk3/CMakeLists.txt
  src/frontends/gtk4/CMakeLists.txt
  src/frontends/qt5/CMakeLists.txt
  src/frontends/qt6/CMakeLists.txt
Labels: Build, Package, improve

#247 Fix xim event mask
  .vscode/launch.json
  docs/CHANGELOG.md
  src/frontends/xim/src/handler.rs
Labels: T-XIM

#250 Using cargo deny in CI
  .github/workflows/ci.yaml
  Cargo.lock
  deny.toml
  src/daemon/indicator/Cargo.toml
  src/frontends/wayland/Cargo.toml
  src/version/Cargo.toml
Labels: T-Build

#253 Fix global config path
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  scripts/install.sh
Labels: Document, Package

#256 Update scripts
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/install.sh
Labels: Document, T-Build

#257 #160 Add Project Logo
  .gitignore
  README.ko.md
  README.md
  docs/assets/kime-mono.ai
  docs/assets/kime-roundy-default-bluegrey.png
  docs/assets/kime-roundy-default-bluegrey.psd
  docs/assets/kime-roundy-default-without-text-bluegrey.png
  docs/assets/kime-roundy-default-without-text.png
  docs/assets/kime-roundy-default.png
  docs/assets/kime-roundy-default.psd
  docs/assets/kime-roundy.ai
Labels: Project, improve

#266 Improve logging
  Cargo.lock
  Cargo.toml
  docs/CHANGELOG.md
  src/daemon/indicator/Cargo.toml
  src/daemon/indicator/src/main.rs
  src/engine/capi/Cargo.toml
  src/engine/capi/cbindgen-c.toml
  src/engine/capi/cbindgen-cpp.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/frontends/gtk2/src/gtk.c
  src/frontends/gtk2/src/immodule.c
  src/frontends/gtk2/src/immodule.h
  src/frontends/qt5/src/plugin.cc
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/src/main.rs
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/main.rs
  src/log/Cargo.toml
  src/log/src/lib.rs
Labels: Breaking, T-Daemon, T-Engine, T-Wayland, T-XIM

#265 Fix choseong compose bug
  docs/CHANGELOG.md
  src/engine/core/src/state.rs
  src/engine/core/tests/sebeolsik_390.rs
Labels: T-Engine

#267 Enable logger on gtk, qt
  src/frontends/gtk2/src/gtk.c
  src/frontends/gtk4/src/gtk4.c
  src/frontends/qt5/src/plugin.cc
Labels: T-GTK, T-Qt

#268 Xim async
  Cargo.lock
  docs/CHANGELOG.md
  src/frontends/xim/src/handler.rs
Labels: Breaking, T-XIM

#269 Fix indicator can't load icon data
  .vscode/launch.json
  docs/CHANGELOG.md
  src/daemon/indicator/src/main.rs
Labels: T-Daemon

#271 Update CHAGNELOG
  docs/CHANGELOG.md
Labels: Document

#273 Add kime-check
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
  build-docker/ubuntu-20.04/Dockerfile
  deny.toml
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/install.sh
  src/engine/capi/Cargo.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/keycode.rs
  src/engine/core/src/lib.rs
  src/frontends/gtk2/src/gtk.c
  src/frontends/gtk4/src/gtk4.c
  src/frontends/qt5/src/plugin.cc
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/src/main.rs
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/main.rs
  src/log/src/lib.rs
  src/tools/check/Cargo.toml
  src/tools/check/src/main.rs
  src/tools/indicator/Cargo.toml
  src/tools/indicator/src/main.rs
  src/tools/log/Cargo.toml
  src/tools/log/src/lib.rs
  src/tools/version/Cargo.toml
  src/tools/version/build.rs
  src/tools/version/src/lib.rs
  src/version/src/lib.rs
Labels: T-Tool

#274 Mention Docker build in README
  README.ko.md
  README.md
Labels: Document

#275 Add debian-buster docker
  Cargo.lock
  build-docker/debian-buster/Dockerfile
  docs/CHANGELOG.md
  src/engine/core/Cargo.toml
  src/frontends/xim/Cargo.toml
Labels: T-Build

#276 Add Ubuntu 18.04 docker
  build-docker/ubuntu-18.04/Dockerfile
  docs/CHANGELOG.md
  src/CMakeLists.txt
Labels: T-Build

#278 Upgrade release workflow
  .github/workflows/release.yaml
  build-docker/arch/Dockerfile
  build-docker/debian-buster/Dockerfile
  build-docker/ubuntu-18.04/Dockerfile
  build-docker/ubuntu-20.04/Dockerfile
  ci/build_xz.sh
  ci/build_zst.sh
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/install.sh
  scripts/release-deb.sh
  scripts/release-zst.sh
  src/CMakeLists.txt
Labels: Package

#284 Fix xim event mask
  docs/CHANGELOG.md
  src/frontends/xim/src/handler.rs
Labels: T-XIM

#285 Detect mouse click
  .vscode/launch.json
  .vscode/settings.json
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
  src/frontends/gtk2/src/immodule.h
  src/frontends/qt5/src/input_context.cc
Labels: T-GTK, T-Qt

#286 Release qt6
  .github/workflows/release.yaml
  README.ko.md
  README.md
  docs/CHANGELOG.md
Labels: Document, T-Qt

#289 Word commit
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  Cargo.lock
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  src/engine/capi/src/lib.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/cffi/update_bindings.sh
  src/engine/core/src/characters.rs
  src/engine/core/src/config.rs
  src/engine/core/src/input_result.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/state.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/sebeolsik_390.rs
  src/engine/core/tests/sebeolsik_391.rs
  src/engine/core/tests/sebeolsik_sin1995.rs
  src/frontends/gtk2/CMakeLists.txt
  src/frontends/gtk2/src/gtk.c
  src/frontends/gtk2/src/immodule.c
  src/frontends/gtk2/src/immodule.h
  src/frontends/gtk2/src/str_buf.c
  src/frontends/gtk2/src/str_buf.h
  src/frontends/gtk3/CMakeLists.txt
  src/frontends/gtk4/CMakeLists.txt
  src/frontends/gtk4/src/gtk4.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/qt5/src/input_context.hpp
  src/frontends/qt5/src/plugin.cc
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
  src/frontends/xim/src/pe_window.rs
  src/tools/check/src/main.rs
Labels: T-Engine

#290 Make engine-cffi no_std
  .github/workflows/release.yaml
  .gitignore
  Cargo.lock
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
  src/engine/cffi/kime_engine.h
  src/engine/cffi/kime_engine.hpp
  src/engine/cffi/src/ffi.rs
  src/engine/cffi/src/lib.rs
  src/engine/cffi/update_bindings.sh
Labels: T-Build

#292 Make keycode 130 to Hangul
  docs/CHANGELOG.md
  src/engine/core/src/keycode.rs
Labels: T-Engine

#296 Implement composition jungseong
  docs/CHANGELOG.md
  src/engine/core/data/sebeolsik-390.yaml
  src/engine/core/data/sebeolsik-391.yaml
  src/engine/core/data/sebeolsik-sin1995.yaml
  src/engine/core/src/characters.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/state.rs
  src/engine/core/tests/sebeolsik_sin1995.rs
Labels: T-Engine

#298 Fix cho-jung
  docs/CHANGELOG.md
  src/engine/core/src/state.rs
  src/engine/core/tests/sebeolsik_sin1995.rs
Labels: T-Engine

#299 Update README
  README.ko.md
  README.md
Labels: Document

#301 Make default jungseong composable
  src/engine/core/data/sebeolsik-390.yaml
  src/engine/core/data/sebeolsik-391.yaml
  src/engine/core/data/sebeolsik-sin1995.yaml
  src/engine/core/src/characters.rs
Labels: T-Engine

#302 Move compose_jung state into CharacterState
  src/engine/core/src/state.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/sebeolsik_390.rs
  src/engine/core/tests/sebeolsik_391.rs
  src/engine/core/tests/sebeolsik_sin1995.rs
Labels: T-Engine

#303 Fix composable jungseong bug
  docs/CHANGELOG.md
  src/engine/core/src/state.rs
Labels: T-Engine

#305 Fix xim bug
  docs/CHANGELOG.md
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
Labels: T-XIM

#308 Fix kime-check fail
  .vscode/launch.json
  docs/CHANGELOG.md
  src/tools/check/src/main.rs
Labels: T-Tool

#309 Correct copyright
  LICENSE
Labels: Project

#311 Fix preedit string disapear when press hotkey
  docs/CHANGELOG.md
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine

#312 Move copyright to notice
  LICENSE
  NOTICE
Labels: Document, Project

#313 Make character typing order strict `ㅏ + ㄱ = ㅏㄱ`
  docs/CHANGELOG.md
  src/engine/core/src/state.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/sebeolsik_390.rs
  src/engine/core/tests/sebeolsik_391.rs
Labels: T-Engine

#314 Add TreatJongseongAsChoseong addon
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/engine/core/src/config.rs
  src/engine/core/src/state.rs
  src/engine/core/tests/sebeolsik_390.rs
Labels: T-Engine

#319 Add `FlexibleComposeOrder` addon
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/state.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine

#320 Check LANG env in kime-check
  Cargo.lock
  docs/CHANGELOG.md
  src/tools/check/Cargo.toml
  src/tools/check/src/main.rs
Labels: T-Tool

#322 Add white icon
  docs/CHANGELOG.md
  docs/assets/icon.xcf
  res/icons/kime-eng-64x64.png
  res/icons/kime-eng-black-64x64.png
  res/icons/kime-eng-white-64x64.png
  res/icons/kime-han-64x64.png
  res/icons/kime-han-black-64x64.png
  res/icons/kime-han-white-64x64.png
  src/tools/check/src/main.rs
  src/tools/indicator/src/main.rs
  src/tools/version/src/lib.rs
Labels: T-Tool

#324 Add more keycodes
  docs/CHANGELOG.md
  src/engine/core/src/keycode.rs
Labels: T-Engine

#327 Split kime-window
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/install.sh
  scripts/release-zst.sh
  scripts/tool.sh
  src/engine/capi/src/lib.rs
  src/engine/core/src/lib.rs
  src/tools/indicator/Cargo.toml
  src/tools/indicator/src/main.rs
Labels: T-Tool

#326 Fix gtk preedit bug
  .github/workflows/release.yaml
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK

#328 Support emoji, hanja input
  .github/workflows/release.yaml
  README.ko.md
  docs/CHANGELOG.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/engine/core/src/config.rs
  src/engine/core/src/keycode.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/state.rs
Labels: T-Engine, T-Tool, improve

#330 Add desktop files
  README.ko.md
  README.md
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/kime-wayland.desktop
  res/kime-window.desktop
  res/kime-xim.desktop
  scripts/build.sh
  scripts/install.sh
Labels: T-Document
