Repository Riey/kime, pull requests merged in 2021-01, with the labels that each got.

#11 Rework layout
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  data/dubeolsik.yaml
  src/engine.rs
  src/engine/characters.rs
  src/engine/compose.rs
  src/engine/dubeolsik.rs
  src/engine/keycode.rs
  src/engine/state.rs
  src/handler.rs
Labels: enhancement

#29 Fix typing choseong bug
  engine/src/dubeolsik.rs
  engine/src/state.rs
Labels: Engine

#32 Support configuration
  Cargo.lock
  engine/Cargo.toml
  engine/data/config.yaml
  engine/src/config.rs
  engine/src/dubeolsik.rs
  engine/src/lib.rs
  engine/tests/dubeolsik.rs
  gtk3/src/lib.rs
  release.sh
  xim/Cargo.toml
  xim/src/handler.rs
  xim/src/main.rs
  xim/src/pe_window.rs
Labels: Engine

#35 Reset state when other keysym input
  engine/src/lib.rs
  engine/tests/dubeolsik.rs
Labels: Engine

#36 Send preedit start, end signal
  gtk3/src/lib.rs
Labels: GTK

#42 Add sebeolsik layouts
  .vscode/launch.json
  engine/data/config.yaml
  engine/data/dubeolsik.yaml
  engine/data/sebeolsik-390.yaml
  engine/data/sebeolsik-391.yaml
  engine/src/characters.rs
  engine/src/config.rs
  engine/src/keycode.rs
  engine/src/lib.rs
  engine/src/state.rs
  engine/tests/dubeolsik.rs
  engine/tests/sebeolsik-390.rs
  engine/tests/sebeolsik-391.rs
  release.sh
  xim/src/pe_window.rs
Labels: Engine

#45 Fix preedit signal emit order
  gtk3/src/lib.rs
Labels: GTK

#46 Fix firefox enter key doesn't work when preedit_end
  engine/src/keycode.rs
  engine/tests/dubeolsik.rs
  gtk3/src/lib.rs
Labels: GTK

#50 [XIM] Reset when unset focus
  xim/src/handler.rs
Labels: XIM

#57 Support control modifier
  engine/data/config.yaml
  engine/src/keycode.rs
  gtk3/src/lib.rs
  xim/src/handler.rs
Labels: Engine

#58 Remove once-cell
  Cargo.lock
  engine/data/config.yaml
  gtk3/Cargo.toml
  gtk3/src/lib.rs
Labels: GTK

#60 Add Super modifier
  engine/data/config.yaml
  engine/src/keycode.rs
  gtk3/src/lib.rs
  xim/src/handler.rs
Labels: Engine

#61 Engine cdylib
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  .vscode/tasks.json
  Cargo.lock
  Cargo.toml
  engine-cffi/Cargo.toml
  engine-cffi/build.rs
  engine-cffi/kime_engine.h
  engine-cffi/src/lib.rs
  engine/Cargo.toml
  engine/src/config.rs
  engine/src/keycode.rs
  engine/src/lib.rs
  engine/src/state.rs
  engine/src/tests.rs
  engine/src/tests/dubeolsik.rs
  engine/src/tests/sebeolsik_390.rs
  engine/src/tests/sebeolsik_391.rs
  engine/tests/dubeolsik.rs
  engine/tests/sebeolsik-390.rs
  engine/tests/sebeolsik-391.rs
  gtk3/Cargo.toml
  gtk3/src/lib.rs
  release.sh
  xim/Cargo.toml
  xim/src/handler.rs
  xim/src/main.rs
Labels: Engine

#62 Add more compose configs
  CONFIGURATION.md
  engine-cffi/src/lib.rs
  engine/src/characters.rs
  engine/src/config.rs
  engine/src/lib.rs
  engine/src/state.rs
  engine/src/tests/dubeolsik.rs
  engine/src/tests/sebeolsik_390.rs
Labels: Engine

#64 Fix unhandled keycode doesn't occur reset
  CHANGELOG.md
  Cargo.lock
  engine-cffi/Cargo.toml
  engine/Cargo.toml
  engine/src/lib.rs
  gtk3/Cargo.toml
  xim/Cargo.toml
Labels: Engine, bug

#69 Split engine capi into another crate
  Cargo.lock
  Cargo.toml
  engine/capi/Cargo.toml
  engine/capi/src/lib.rs
  engine/cffi/Cargo.toml
  engine/cffi/build.rs
  engine/cffi/kime_engine.h
  engine/cffi/src/lib.rs
  engine/core/Cargo.toml
  engine/core/data/config.yaml
  engine/core/data/dubeolsik.yaml
  engine/core/data/sebeolsik-390.yaml
  engine/core/data/sebeolsik-391.yaml
  engine/core/src/characters.rs
  engine/core/src/config.rs
  engine/core/src/input_result.rs
  engine/core/src/keycode.rs
  engine/core/src/lib.rs
  engine/core/src/state.rs
  engine/core/tests/dubeolsik.rs
  engine/core/tests/sebeolsik_390.rs
  engine/core/tests/sebeolsik_391.rs
  engine/src/lib.rs
  engine/src/tests.rs
  gtk3/Cargo.toml
  release.sh
  xim/Cargo.toml
Labels: Engine

#70 Embed common used layouts
  engine/core/src/config.rs
  engine/core/src/lib.rs
  engine/core/tests/dubeolsik.rs
  engine/core/tests/sebeolsik_390.rs
  engine/core/tests/sebeolsik_391.rs
  release.sh
Labels: Engine

#77 Fix java awt working
  Cargo.lock
  xim/src/handler.rs
Labels: XIM, bug

#79 Fix super key bug
  gtk3/src/lib.rs
Labels: Engine, bug

#80 Config rework
  Cargo.lock
  engine/capi/Cargo.toml
  engine/capi/build.rs
  engine/capi/data/config.yaml
  engine/core/src/config.rs
  engine/core/src/keycode.rs
  pkg/release-7z.sh
Labels: Engine

#84 Don't skip control, super modifier
  xim/src/handler.rs
  xim/src/main.rs
Labels: XIM, bug

#93 Print version when --version args enter
  CHANGELOG.md
  xim/src/main.rs
Labels: XIM

#101 Add log argument on xim
  Cargo.lock
  xim/Cargo.toml
  xim/src/main.rs
Labels: XIM

#102 Don't skip LOCK_MASK
  gtk3/src/lib.rs
  xim/src/handler.rs
Labels: GTK, XIM

#107 Complete moum backspace
  engine/core/src/characters.rs
  engine/core/tests/dubeolsik.rs
Labels: Engine

#109 Implement Qt frontend
  .github/workflows/ci.yaml
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  engine/cffi/generate_bindings.sh
  pkg/install.sh
  pkg/release.sh
  qt5/CMakeLists.txt
  qt5/src/input_context.cc
  qt5/src/input_context.hpp
  qt5/src/kime-qt5.hpp
  qt5/src/kime.json
  qt5/src/plugin.cc
  qt5/src/plugin.hpp
Labels: Qt

#113 [Qt] Don't commit ch when NULL
  qt5/src/input_context.cc
Labels: Qt

#115 Fix gtk3 textbox space commit bug
  .vscode/launch.json
  .vscode/tasks.json
  CHANGELOG.md
  engine/capi/src/lib.rs
  engine/cffi/kime_engine.h
  engine/cffi/src/ffi.rs
  engine/cffi/src/lib.rs
  engine/core/src/config.rs
  gtk3/src/lib.rs
Labels: GTK

#127 Add qt6 frontend
  CMakeLists.txt
  README.md
  docs/CHANGELOG.md
  qt5/CMakeLists.txt
  qt6/CMakeLists.txt
  xtask/src/main.rs
Labels: Qt

#129 Add wayland frontend
  .github/workflows/ci.yaml
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  README.md
  docs/CHANGELOG.md
  wayland/Cargo.toml
  wayland/src/main.rs
  xim/src/main.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Labels: Wayland

#131 Refactoring wayland
  Cargo.lock
  wayland/Cargo.toml
  wayland/src/main.rs
Labels: Wayland

#125 Make CONFIGURATION.md more newbie friendly
  docs/CONFIGURATION.md
Labels: Document

#154 Fix wayland input bug
  src/frontends/wayland/src/main.rs
Labels: Wayland

#157 Update xtask
  .circleci/config.yml
  .vscode/settings.json
  docs/CHANGELOG.md
  src/CMakeLists.txt
  src/frontends/gtk2/CMakeLists.txt
  src/frontends/gtk3/CMakeLists.txt
  src/frontends/gtk4/CMakeLists.txt
  src/frontends/qt5/CMakeLists.txt
  src/frontends/qt6/CMakeLists.txt
  src/xtask/src/main.rs
Labels: Build
