Repository Riey/kime, pull requests merged in 2021-04, with the labels that each got.

#430 Fix qt preedit handling
  docs/CHANGELOG.md
  src/engine/backends/latin/src/lib.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/latin.rs
  src/engine/core/tests/math.rs
  src/frontends/qt5/src/input_context.cc
  src/frontends/qt5/src/input_context.hpp
Labels: T-Qt

#436 Use unstable nixpkgs
  default.nix
  shell.nix
Labels: T-Build

#443 Update tools
  Cargo.lock
  default.nix
  shell.nix
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
Labels: T-Build

#444 Retry nix ci
  .envrc
  .github/workflows/ci.yaml
  .gitignore
  default.nix
  nix/deps.nix
  shell.nix
Labels: T-Build

#445 Use clang for nix
  default.nix
  nix/deps.nix
  shell.nix
Labels: T-Build

#447 Add daemon
  Cargo.lock
  Cargo.toml
  README.ko.md
  README.md
  default.nix
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  nix/sources.json
  nix/sources.nix
  res/default_daemon.yaml
  res/kime-wayland.desktop
  res/kime-xim.desktop
  res/kime.desktop
  scripts/build.sh
  scripts/im_kime.rc
  scripts/install.sh
  shell.nix
  src/tools/kime/Cargo.toml
  src/tools/kime/src/main.rs
Labels: T-Tool

#448 Fix qt crash
  docs/CHANGELOG.md
  scripts/build.sh
  shell.nix
  src/frontends/qt5/src/input_context.cc
  src/frontends/qt5/src/input_context.hpp
  src/frontends/qt5/src/plugin.cc
Labels: T-Qt

#450 Use GPL-3.0-or-later
  src/engine/backend/Cargo.toml
  src/engine/backends/emoji/Cargo.toml
  src/engine/backends/hangul/Cargo.toml
  src/engine/backends/hanja/Cargo.toml
  src/engine/backends/latin/Cargo.toml
  src/engine/backends/math/Cargo.toml
  src/engine/capi/Cargo.toml
  src/engine/cffi/Cargo.toml
  src/engine/core/Cargo.toml
  src/engine/dict/Cargo.toml
  src/frontends/wayland/Cargo.toml
  src/frontends/xim/Cargo.toml
  src/tools/check/Cargo.toml
  src/tools/indicator/Cargo.toml
  src/tools/kime/Cargo.toml
  src/tools/log/Cargo.toml
  src/tools/run_dir/Cargo.toml
  src/tools/version/Cargo.toml
Labels: Project

#453 Integrate config
  .envrc
  Cargo.lock
  Cargo.toml
  VERSION
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  nix/deps.nix
  res/default_config.yaml
  res/default_daemon.yaml
  shell.nix
  src/engine/backend/Cargo.toml
  src/engine/capi/cbindgen-c.toml
  src/engine/capi/cbindgen-cpp.toml
  src/engine/core/Cargo.toml
  src/engine/core/examples/make_config.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/shared.rs
  src/tools/config/Cargo.toml
  src/tools/config/examples/print_default_config.rs
  src/tools/config/src/lib.rs
  src/tools/indicator/Cargo.toml
  src/tools/indicator/src/main.rs
  src/tools/kime/Cargo.toml
  src/tools/kime/src/main.rs
Labels: Breaking, T-Tool

#454 Add kill flag in kime daemon
  docs/CHANGELOG.md
  src/tools/kime/src/main.rs
Labels: T-Tool

#455 Install docs
  default.nix
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/install.sh
  src/tools/check/src/main.rs
Labels: Breaking, T-Document, T-Tool

#463 fix Gammma -> Gamma
  docs/CHANGELOG.md
  src/engine/dict/data/symbol_map.json
Labels: T-Engine, bug

#465 capi에서 설정 파일 로딩에 있는 버그를 고칩니다
  docs/CHANGELOG.md
  src/engine/core/src/config.rs
Labels: P-High, T-Engine, bug

#466 Refactor config structure
  Cargo.lock
  Cargo.toml
  src/engine/capi/cbindgen-c.toml
  src/engine/capi/cbindgen-cpp.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
  src/engine/cffi/src/lib.rs
  src/engine/config/Cargo.toml
  src/engine/config/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/shared.rs
  src/tools/config/Cargo.toml
  src/tools/config/examples/print_default_config.rs
  src/tools/indicator/Cargo.toml
  src/tools/indicator/src/main.rs
  src/tools/kime/Cargo.toml
  src/tools/kime/src/main.rs
Labels: T-Engine

#468 [XIM] Filter also key_release event
  docs/CHANGELOG.md
  src/frontends/xim/src/handler.rs
Labels: T-XIM

#472 Let indicator get icon_color in user config
  docs/CHANGELOG.md
  src/tools/indicator/src/main.rs
Labels: T-Tool

#473 문서화되지 않은 `category_layout`을 삭제합니다.
  docs/CONFIGURATION.ko.md
Labels: T-Document

#474 Polish README.md
  README.md
Labels: T-Document

#476 Don't exit xim when get `ServerError`
  docs/CHANGELOG.md
  src/frontends/xim/src/main.rs
Labels: T-XIM

#479 Improve set log level
  Cargo.lock
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  shell.nix
  src/engine/capi/cbindgen-c.toml
  src/engine/capi/cbindgen-cpp.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/src/lib.rs
  src/engine/config/Cargo.toml
  src/engine/config/src/lib.rs
  src/engine/core/examples/make_config.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/tools/version/Cargo.toml
  src/tools/version/src/lib.rs
Labels: T-Tool
