Repository Riey/kime, pull requests merged in 2021-03, with the labels that each got.

#334 Rework test codes
  docs/CHANGELOG.md
  src/engine/core/data/sebeolsik-3-2015.yaml
  src/engine/core/data/sebeolsik-3-90.yaml
  src/engine/core/data/sebeolsik-3-91.yaml
  src/engine/core/data/sebeolsik-3sin-1995.yaml
  src/engine/core/src/config.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/sebeolsik_391.rs
  src/engine/core/tests/sebeolsik_3_90.rs
  src/engine/core/tests/sebeolsik_3_91.rs
  src/engine/core/tests/sebeolsik_3sin_1995.rs
  src/engine/core/tests/shared.rs
Labels: T-Engine

#337 Make engine portable
  src/engine/capi/src/lib.rs
  src/engine/cffi/benches/call_key.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/shared.rs
Labels: T-Engine

#338 Export builtin layouts
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
Labels: T-Engine

#340 Don't commit zero size string
  .vscode/launch.json
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
  src/frontends/wayland/src/main.rs
Labels: T-GTK, T-Wayland

#345 Prevent double key press
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
  src/frontends/gtk2/src/immodule.h
Labels: T-GTK

#348 Remove gtk_put_event
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK

#351 Revert #348
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK

#353 Remove git dependencies
  .github/workflows/ci.yaml
  .markdownlint.json
  Cargo.lock
  ci/check_md.sh
  src/frontends/wayland/Cargo.toml
  src/frontends/wayland/build.rs
  src/frontends/wayland/protocol/input-method-unstable-v2.xml
  src/frontends/wayland/src/main.rs
  src/frontends/xim/Cargo.toml
Labels: T-Wayland, T-XIM

#354 Using signal connect client's window instead of gdk_window_add_filter
  .gitignore
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK

#356 Support multiple archtectures
  README.ko.md
  README.md
  build-docker/debian-buster/Dockerfile
  build-docker/ubuntu-18.04/Dockerfile
  build-docker/ubuntu-20.04/Dockerfile
  ci/build_deb.sh
  docs/CHANGELOG.md
  scripts/build.sh
  scripts/control.in
  scripts/release-deb.sh
Labels: T-Build

#361 Create FUNDING.yml
  .github/FUNDING.yml
Labels: Project

#362 Split inputs
  Cargo.lock
  Cargo.toml
  docs/CHANGELOG.md
  src/engine/backend/Cargo.toml
  src/engine/backend/src/input_result.rs
  src/engine/backend/src/keycode.rs
  src/engine/backend/src/lib.rs
  src/engine/backend/src/state.rs
  src/engine/backends/hangul/Cargo.toml
  src/engine/backends/hangul/data/dubeolsik.yaml
  src/engine/backends/hangul/data/sebeolsik-3-90.yaml
  src/engine/backends/hangul/data/sebeolsik-3-91.yaml
  src/engine/backends/hangul/data/sebeolsik-3sin-1995.yaml
  src/engine/backends/hangul/data/sebeolsik-3sin-p2.yaml
  src/engine/backends/hangul/src/characters.rs
  src/engine/backends/hangul/src/layout.rs
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/hangul/src/state.rs
  src/engine/backends/latin/Cargo.toml
  src/engine/backends/latin/data/colemak.yaml
  src/engine/backends/latin/data/qwerty.yaml
  src/engine/backends/latin/src/lib.rs
  src/engine/capi/Cargo.toml
  src/engine/capi/cbindgen-c.toml
  src/engine/capi/cbindgen-cpp.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/data/direct.yaml
  src/engine/core/examples/make_config.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/dubeolsik.rs
  src/engine/core/tests/shared.rs
  src/frontends/gtk2/src/immodule.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
  src/tools/check/src/main.rs
Labels: P-High, T-Engine

#363 Implement math backend
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  deny.toml
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/latin/src/lib.rs
  src/engine/backends/math/Cargo.toml
  src/engine/backends/math/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/math.rs
  src/engine/core/tests/shared.rs
  src/engine/dict/Cargo.toml
  src/engine/dict/build.rs
  src/engine/dict/data/symbol_map.json
  src/engine/dict/src/lib.rs
Labels: T-Engine

#365 Remove phf
  Cargo.lock
  src/engine/dict/Cargo.toml
  src/engine/dict/build.rs
  src/engine/dict/src/lib.rs
Labels: T-Engine

#366 Add dvorak layout
  docs/CHANGELOG.md
  src/engine/backends/latin/data/dvorak.yaml
  src/engine/backends/latin/src/lib.rs
Labels: T-Engine

#367 Let select hanja in preedit string
  Cargo.lock
  docs/CHANGELOG.md
  src/engine/backend/src/keycode.rs
  src/engine/backends/hangul/Cargo.toml
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/hangul/src/state.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/hanja.rs
  src/engine/dict/src/lib.rs
Labels: T-Engine

#368 Make InputMode
  Cargo.lock
  Cargo.toml
  src/engine/backend/src/lib.rs
  src/engine/backends/hangul/Cargo.toml
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/hangul/src/state.rs
  src/engine/backends/hanja/Cargo.toml
  src/engine/backends/hanja/src/lib.rs
  src/engine/backends/math/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/math.rs
Labels: T-Engine

#369 Implement emoji mode
  Cargo.lock
  Cargo.toml
  docs/CHANGELOG.md
  res/default_config.yaml
  src/engine/backends/emoji/Cargo.toml
  src/engine/backends/emoji/src/lib.rs
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/hanja/src/lib.rs
  src/engine/backends/latin/data/colemak.yaml
  src/engine/backends/latin/data/dvorak.yaml
  src/engine/backends/latin/data/qwerty.yaml
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/src/os.rs
  src/engine/core/tests/emoji.rs
  src/engine/dict/Cargo.toml
  src/engine/dict/build.rs
  src/engine/dict/data/en.xml
  src/engine/dict/data/ko.xml
  src/engine/dict/src/lib.rs
Labels: T-Engine

#357 Add NoDisplay key to desktop files
  docs/CHANGELOG.md
  res/kime-wayland.desktop
  res/kime-window.desktop
  res/kime-xim.desktop
Labels: T-Tool

#371 Update CONFIGURATION
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
Labels: T-Document

#374 Fix arrow key bug in hangul
  docs/CHANGELOG.md
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine

#376 Let AltL, ControlL, Tab commit hangul state
  docs/CHANGELOG.md
  res/default_config.yaml
  src/engine/core/src/config.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine

#378 Release 2.0.1
  docs/CHANGELOG.md
Labels: Project

#380 Let Esc exit math mode
  docs/CHANGELOG.md
  src/engine/core/src/lib.rs
  src/engine/core/tests/math.rs
Labels: T-Engine

#382 Fix can't select hanja
  docs/CHANGELOG.md
  src/engine/cffi/benches/call_key.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/hanja.rs
Labels: T-Engine

#385 add more math symbols
  src/engine/dict/data/symbol_map.json
Labels: T-Engine

#388 Terminate previous servers
  docs/CHANGELOG.md
  scripts/im_kime.rc
Labels: Package

#389 Terminate previous indicator
  docs/CHANGELOG.md
  src/frontends/wayland/src/main.rs
  src/tools/indicator/src/main.rs
Labels: T-Tool, T-Wayland

#390 Set delete, insert hotkey
  docs/CHANGELOG.md
  res/default_config.yaml
  src/engine/backend/src/keycode.rs
  src/engine/core/src/config.rs
Labels: T-Engine

#391 Fix kime check failed
  docs/CHANGELOG.md
  src/engine/cffi/src/lib.rs
  src/tools/check/src/main.rs
Labels: T-Tool

#393 Make unhandled key `Commit` and `Bypass`
  docs/CHANGELOG.md
  docs/CONFIGURATION.ko.md
  docs/CONFIGURATION.md
  res/default_config.yaml
  src/engine/backends/emoji/src/lib.rs
  src/engine/backends/latin/data/colemak.yaml
  src/engine/backends/latin/data/dvorak.yaml
  src/engine/backends/latin/data/qwerty.yaml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
Labels: Breaking, T-Engine

#394 Add engine bench
  .gitignore
  docs/CHANGELOG.md
  src/engine/backend/Cargo.toml
  src/engine/backend/src/keycode.rs
  src/engine/backend/src/keymap.rs
  src/engine/backend/src/lib.rs
  src/engine/backends/emoji/src/lib.rs
  src/engine/backends/hangul/src/characters.rs
  src/engine/backends/hangul/src/layout.rs
  src/engine/backends/hangul/src/lib.rs
  src/engine/backends/hangul/src/state.rs
  src/engine/backends/hanja/src/lib.rs
  src/engine/backends/latin/src/lib.rs
  src/engine/backends/math/src/lib.rs
  src/engine/cffi/Cargo.toml
  src/engine/core/Cargo.toml
  src/engine/core/benches/call_key.rs
  src/engine/core/examples/print_type_sizes.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
Labels: T-Engine

#397 Ignore shift key input
  docs/CHANGELOG.md
  res/default_config.yaml
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
  src/frontends/gtk2/src/immodule.c
Labels: T-Engine

#403 Let qt detect click
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  docs/CHANGELOG.md
  src/frontends/qt5/src/input_context.cc
  src/frontends/qt5/src/input_context.hpp
  src/frontends/qt5/src/plugin.hpp
Labels: T-Qt

#402 Try prevent hanja panic
  Cargo.lock
  src/engine/core/Cargo.toml
  src/engine/core/tests/hanja.rs
  src/engine/core/tests/shared.rs
  src/engine/dict/build.rs
  src/engine/dict/src/lib.rs
Labels: T-Engine

#405 Improve keymap
  Cargo.lock
  docs/CHANGELOG.md
  src/engine/backend/Cargo.toml
  src/engine/backend/src/keycode.rs
  src/engine/backend/src/keymap.rs
  src/engine/backends/emoji/src/lib.rs
  src/engine/backends/hangul/src/layout.rs
  src/engine/backends/hangul/src/state.rs
  src/engine/backends/latin/src/lib.rs
  src/engine/backends/math/src/lib.rs
  src/engine/capi/Cargo.toml
  src/engine/capi/src/lib.rs
  src/engine/core/Cargo.toml
  src/engine/core/benches/call_key.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/emoji.rs
  src/engine/core/tests/math.rs
Labels: T-Engine

#407 Support preedit in xim
  Cargo.lock
  docs/CHANGELOG.md
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/handler.rs
Labels: T-XIM

#411 Fix Home, End, PageUp, PageDown don't clear preedit
  docs/CHANGELOG.md
  src/engine/backend/src/keycode.rs
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine

#415 Install desktop files into autostart
  README.ko.md
  README.md
  docs/CHANGELOG.md
  res/kime-indicator.desktop
  res/kime-wayland.desktop
  res/kime-xim.desktop
  scripts/install.sh
Labels: T-Tool

#419 Bypass shift key
  docs/CHANGELOG.md
  src/engine/core/src/lib.rs
  src/engine/core/tests/dubeolsik.rs
Labels: T-Engine
