Repository Riey/kime, pull requests merged in 2022-04, with the labels that each got.

#560 Update dependencies
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.lock
  default.nix
  deny.toml
  flake.lock
  flake.nix
  nix/deps.nix
  shell.nix
  src/engine/backend/Cargo.toml
  src/engine/cffi/Cargo.toml
  src/engine/cffi/build.rs
  src/engine/config/Cargo.toml
  src/engine/core/Cargo.toml
  src/frontends/wayland/Cargo.toml
  src/frontends/xim/Cargo.toml
  src/tools/candidate-window/Cargo.toml
  src/tools/candidate-window/src/main.rs
  src/tools/check/Cargo.toml
Labels: Project

#563 Fix firefox bugs
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK

#564 Clean README.md
  .github/FUNDING.yml
  README.ko.md
  README.md
Labels: T-Document, Project

#565 Fix some wrong piece of #563
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK, T-Document

#568 Add dockerfile for ubuntu-22.04
  build-docker/ubuntu-22.04/Dockerfile
Labels: T-Build

#569 Bump nixpkgs
  flake.lock
  flake.nix
  nix/deps.nix
Labels: T-Build

#570 Rework gtk event
  docs/CHANGELOG.md
  src/frontends/gtk2/src/immodule.c
Labels: T-GTK
