Repository Riey/kime, pull requests merged in 2022-11, with the labels that each got.

#588 add translation layer
  docs/CHANGELOG.md
  src/engine/config/src/lib.rs
  src/engine/core/src/config.rs
  src/engine/core/src/lib.rs
  src/tools/check/src/main.rs
Labels: T-Engine

#589 Update lock files
  .github/workflows/ci.yaml
  .vscode/settings.json
  Cargo.lock
  deny.toml
  flake.lock
  flake.nix
  src/engine/backends/hangul/Cargo.toml
  src/engine/backends/latin/Cargo.toml
  src/engine/candidate/Cargo.toml
  src/engine/capi/src/lib.rs
  src/engine/cffi/Cargo.toml
  src/engine/core/Cargo.toml
  src/engine/core/src/config.rs
  src/engine/dict/Cargo.toml
  src/engine/dict/build.rs
  src/frontends/wayland/Cargo.toml
  src/frontends/xim/Cargo.toml
  src/frontends/xim/src/handler.rs
  src/frontends/xim/src/pe_window.rs
  src/tools/candidate-window/Cargo.toml
  src/tools/candidate-window/src/main.rs
  src/tools/check/Cargo.toml
  src/tools/indicator/Cargo.toml
  src/tools/kime/Cargo.toml
Labels: Project

#591 Fix #516
  README.ko.md
  README.md
  docs/CHANGELOG.md
  nix/deps.nix
  src/CMakeLists.txt
  src/engine/backend/src/keycode.rs
  src/engine/backend/src/keymap.rs
  src/engine/capi/src/lib.rs
  src/engine/cffi/src/lib.rs
  src/engine/core/tests/emoji.rs
  src/engine/core/tests/math.rs
  src/frontends/gtk2/CMakeLists.txt
  src/frontends/gtk3/CMakeLists.txt
  src/frontends/gtk3/src/gtk.c
  src/frontends/gtk3/src/immodule.c
  src/frontends/gtk3/src/immodule.h
  src/frontends/gtk3/src/str_buf.c
  src/frontends/gtk3/src/str_buf.h
  src/frontends/gtk4/CMakeLists.txt
  src/frontends/gtk4/src/gtk4.c
  src/frontends/qt5/src/input_context.cc
  src/frontends/wayland/src/main.rs
  src/frontends/xim/src/handler.rs
Labels: bug, T-GTK, T-XIM, T-Engine, T-Wayland, T-Qt, Breaking
